/* Esta parte es para la navegacion*/

.nav_menu_about {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 25rem;
  background-color: rgba(13, 1, 7, 0.8);
}

.content_empresa {
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
}

.content_logo {
  width: 6rem;
  height: 6rem;
  background-image: url(../img/04f1af17e5a0b919d64b9e6eeb3f86ae.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.content_nav {
  width: 15%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  justify-content: center;
}

.links {
  color: white;
  text-decoration: none;
}

.links:hover {
  cursor: pointer;
  color: white;
}
